<div class="mb-5">
    <label htmlFor="password" class="block mb-2 text-sm font-medium">
        {{_password.label}}
    </label>
    <div class="flex">
        <ng-icon name="heroEye" class="size-6 mx-2 bg-white text-zinc-600"/>
        <input
            [type]="typePassword ? 'password' : 'text'"
            value={{_password.value}}
            [id]="_password.id"
            class="password"
            formControlName="{{_password.id}}"
            required
        />
        <div
            (click)="setTypePassword()"
            class="password-eye-container">
            <ng-icon name="heroEye" class="size-6 mx-2 bg-white text-zinc-600"/>
            <!--<EyeSlashIcon class="size-6 mx-2 bg-white text-zinc-600"/>-->
        </div>

    </div>
    <p [class]="errorClass" aria-live="assertive">{{err}}</p>
</div>