<div class="posts-container pt-10 pb-52">
    <div class="w-11/12 my-0 mx-auto relative overflow-x-auto shadow-md sm:rounded">
        <div class="w-full space-y-5 p-4 h-fit border-2 border-slate-500 bg-slate-400 rounded-lg" radius="lg">
            <div class="max-w-[300px] w-full flex items-center gap-3">
                <div>
                    <div class="skeleton flex rounded-full w-12 h-12" ></div>
                </div>
                <div class="w-full flex flex-col gap-2">
                    <div class="skeleton h-3 w-3/5 rounded-lg" ></div>
                    <div class="skeleton h-3 w-4/5 rounded-lg" ></div>
                </div>
            </div>
            <div class="rounded-lg border-2 border-slate-300 dark:border-slate-100">
                <div class="skeleton h-16 rounded-lg bg-secondary" ></div>
            </div>
            <div class="rounded-lg border-2 border-slate-300 dark:border-slate-100">
                <div class="skeleton h-16 rounded-lg bg-default-200"></div>
            </div>
            <div class="rounded-lg border-2 border-slate-300 dark:border-slate-100">
                <div class="skeleton h-16 rounded-lg bg-default-300" ></div>
            </div>
            <div class="rounded-lg border-2 border-slate-300 dark:border-slate-100">
                <div class="skeleton h-16 rounded-lg bg-default-300" ></div>
            </div>
            <div class="rounded-lg border-2 border-slate-300 dark:border-slate-100">
                <div class="skeleton h-16 rounded-lg bg-default-300" ></div>
            </div>
            <div class="rounded-lg border-2 border-slate-300 dark:border-slate-100">
                <div class="skeleton h-16 rounded-lg bg-default-300" ></div>
            </div>
            <div class="rounded-lg border-2 border-slate-300 dark:border-slate-100">
                <div class="skeleton h-16 rounded-lg bg-default-300" ></div>
            </div>
        </div>
    </div>
</div>