/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root, main, html, body {
    @apply bg-slate-200 text-slate-800 
    dark:bg-[#1b1b1f] dark:text-slate-200;
}

.body-container {
    @apply mt-[14%] md:mt-[10%] lg:mt-[8%]
}

.container-form input {
  @apply min-h-10
}

.container-form input.password {
  @apply border-r-0 rounded-s-lg border-zinc-400 border-2
}
  
.container-form .password-eye-container {
  @apply flex items-center bg-white border-zinc-400 border-2 rounded-e-lg cursor-pointer
}
  
.container-form input[type="text"]:not(.password) {
    @apply rounded-lg border-zinc-400 border-2
}

.error-message {
  @apply text-red-800
}

.success-message {
  @apply text-lime-500
}

.button-action-container button.red-btn {
  @apply !bg-red-600 hover:!bg-red-200
}

.button-action-container button.blue-btn {
  @apply bg-blue-600 hover:!bg-blue-500
}

.loginContainer {
  @apply 
      border-slate-400
      max-w-md mx-auto mt-14 border-2 
      p-10 rounded-lg mb-10
      dark:bg-slate-300
      dark:text-slate-800
}

.loginContainer input {
  @apply bg-gray-50 
  border border-gray-500 text-sm
  focus:ring-blue-500 focus:border-blue-500
  block w-full p-2.5 

  dark:text-slate-800
  dark:focus:ring-blue-500 dark:focus:border-blue-500
  dark:placeholder:text-slate-600
}

.modal {
  --cui-modal-zindex: 1055;
  --cui-modal-width: 500px;
  --cui-modal-padding: 1rem;
  --cui-modal-margin: .5rem;
  --cui-modal-color: ;
  --cui-modal-bg: var(--cui-body-bg);
  --cui-modal-border-color: var(--cui-border-color-translucent);
  --cui-modal-border-width: var(--cui-border-width);
  --cui-modal-border-radius: var(--cui-border-radius-lg);
  --cui-modal-box-shadow: var(--cui-box-shadow-sm);
  --cui-modal-inner-border-radius: calc(var(--cui-border-radius-lg) -(var(--cui-border-width)));
  --cui-modal-header-padding-x: 1rem;
  --cui-modal-header-padding-y: 1rem;
  --cui-modal-header-padding: 1rem 1rem;
  --cui-modal-header-border-color: var(--cui-border-color);
  --cui-modal-header-border-width: var(--cui-border-width);
  --cui-modal-title-line-height: 1.5;
  --cui-modal-footer-gap: .5rem;
  --cui-modal-footer-bg: ;
  --cui-modal-footer-border-color: var(--cui-border-color);
  --cui-modal-footer-border-width: var(--cui-border-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--cui-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

@media (min-width: 576px) {
  .modal {
      --cui-modal-margin: 1.75rem;
      --cui-modal-box-shadow: var(--cui-box-shadow);
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--cui-modal-margin);
  pointer-events: none;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: var(--cui-modal-width);
      margin-right: auto;
      margin-left: auto;
  }
}

.modal.fade .modal-dialog {
  transform: translateY(-50px);
  transition: transform .3s ease-out;
}

.modal.show .modal-dialog {
  transform: none;
  margin-top: 20%;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--cui-modal-color);
  pointer-events: auto;
  background-color: var(--cui-modal-bg);
  background-clip: padding-box;
  border: var(--cui-modal-border-width) solid var(--cui-modal-border-color);
  border-radius: var(--cui-modal-border-radius);
  outline: 0;
  @apply bg-slate-600 rounded-lg
}

@supports (scrollbar-width: thin) {
  * {
      scrollbar-width: thin;
      scrollbar-color: #444 transparent;
  }
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: var(--cui-modal-header-padding);
    border-bottom: var(--cui-modal-header-border-width) solid var(--cui-modal-header-border-color);
    border-top-left-radius: var(--cui-modal-inner-border-radius);
    border-top-right-radius: var(--cui-modal-inner-border-radius);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--cui-modal-padding);
}

.modal-footer {
  display: flex
;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--cui-modal-padding) - var(--cui-modal-footer-gap)* .5);
  background-color: var(--cui-modal-footer-bg);
  border-top: var(--cui-modal-footer-border-width) solid var(--cui-modal-footer-border-color);
  border-bottom-right-radius: var(--cui-modal-inner-border-radius);
  border-bottom-left-radius: var(--cui-modal-inner-border-radius);
}

.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite linear;
  border-radius: 8px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}