/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root, main, html, body {
    @apply bg-slate-200 text-slate-800 
    dark:bg-[#1b1b1f] dark:text-slate-200;
}

.body-container {
    @apply mt-[10%]
}

.container-form input {
  @apply min-h-10
}

.container-form input.password {
  @apply border-r-0 rounded-s-lg border-zinc-400 border-2
}
  
.container-form .password-eye-container {
  @apply flex items-center bg-white border-zinc-400 border-2 rounded-e-lg cursor-pointer
}
  
.container-form input[type="text"]:not(.password) {
    @apply rounded-lg border-zinc-400 border-2
}

.error-message {
  @apply text-red-800
}

.success-message {
  @apply text-lime-500
}

.loginContainer {
  @apply 
      border-slate-400
      max-w-md mx-auto mt-14 border-2 
      p-10 rounded-lg mb-10
      dark:bg-slate-300
      dark:text-slate-800
}

.loginContainer input {
  @apply bg-gray-50 
  border border-gray-500 text-sm
  focus:ring-blue-500 focus:border-blue-500
  block w-full p-2.5 

  dark:text-slate-800
  dark:focus:ring-blue-500 dark:focus:border-blue-500
  dark:placeholder:text-slate-600
}